body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    border: 2px solid gray;
    border-radius: 8px;
    padding: 10px;
    background-color: #f0f8ff; /* Bleu clair pour l'écran */
    width: 300px;
}

.screen {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1.5em;
    text-align: right;
    background-color: blueviolet; /* Bleu clair pour l'écran */
    border: 1px solid blueviolet;
    border-radius: 5px;
}

table {
    width: 200%;
}

td {
    padding: 0; /* Ajustement pour le padding */
    text-align: center;
    cursor: pointer;
}

button {
    width: 100%; /* Le bouton prend la largeur à 100% de la cellule */
    height: 300%; /* Le bouton prend la hauteur à 100% de la cellule */
    border: 1px solid gray;
    border-radius: 5px;
}

.blue button {
    background-color: #add8e6; /* Bleu pour les touches de 1 à 9 */
}

.yellow button {
    background-color: #ffd700; /* Jaune pour les touches + - x / */
}

.gray button {
    background-color: #2f4f4f; /* Gris anthracite pour les touches ( ) . = <-- */
    color: #fff;
}

